$primary-color: #46b4b4;

h1 {
  font-size: 2rem;
  font-family: "Oswald", serif;
  text-transform: uppercase;
  line-height: 0.8;
}
h2 {
  font-size: 1.2rem;
  font-family: "Lekton", serif;
  text-transform: uppercase;
}
p {
  font-size: 1rem;
  font-family: "Lekton", serif;
}
.title {
  font-family: "Lekton", serif;
  margin-bottom: 45px;
}
b {
  font-family: "Lekton", serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.button {
  padding: 0.5rem 2.5rem;
  background-color: transparent;
  border: #9a977a 1px solid;
  color: white;
  text-transform: uppercase;
  font-family: "Lekton", serif;
  font-size: 0.9rem;
}

header {
  height: 500px;
  display: flex;
  .header__left {
    flex: 1;
    background-color: #f0d93e;
    color: $primary-color;
    .left__social {
      display: flex;
      justify-content: space-between;
      margin-top: 135px;
      svg {
        margin-left: 0.5rem;
        font-size: 1rem;
      }
      span {
        font-size: 0.9rem;
        font-family: "Lekton", serif;
      }
    }
    .left__slogan {
      margin-top: 115px;
    }
    .left__logo {
      margin-bottom: 15px;
    }
  }
  .header__right {
    background-color: #c8c2b2;
    color: white;
    text-transform: uppercase;
    flex: 1;
    z-index: 2;
    position: relative;
    h2 {
      color: #848484;
    }
    .color {
      color: #fdeecf;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.about {
  padding: 180px 0 200px 0;
  .about__container {
    margin-bottom: 180px;
  }
  li {
    list-style: none;
    margin-right: 30px;
  }
  li:before {
    content: "";
    border-left: 6px solid $primary-color;
    padding-right: 5px;
  }
}
